:root {
    color-scheme: light dark;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.sidebar {
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 1px solid light-dark(#F1F5F9, #484554);
    background: light-dark(#FFFFFF, #484554);
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.top-sidebar {
    width: 224px;
    height: 232px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    gap: 16px;
    background: transparent;
}

.logo {
    width: 224px;
    height: 48px;
    padding: 8px 2px;
    background: transparent;
}

.logo h2 {
    width: 64px;
    height: 32px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px dashed #2563EB;
    background: #93C5FD;
    color: #2563EB;
}

/* Collapsed State */
.sidebar.collapsed {
    width: 64px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 1px solid light-dark(#F1F5F9, #484554);
}

.sidebar.collapsed .top-sidebar {
    width: 32px;
    height: 216px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.sidebar.collapsed .logo h2 {
    border: 1px dashed #2563EB;
    background: #93C5FD;
    width: 32px;
    height: 32px;
    padding: 8px;
    gap: 8px;
    color: transparent;
}

.nav {
    width: 224px;
    height: 168px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: transparent;
}


.nav ul {
    list-style: none;
    padding: 0;
    background: transparent;
}

.nav ul li a {
    display: flex;
    align-items: center;
    transition: light-dark(transparent, #484554) 0.2s;
    padding: 8px;
    gap: 16px;
    border-radius: 2px;
    background: light-dark(transparent, #484554);
    text-decoration: none;
}

.sidebar.collapsed .nav ul li a {
    width: 32px;
    border-radius: 100px;

}

.sidebar.collapsed .nav ul li svg {
    color: light-dark(#64748B, #ADA9BB);
}

.sidebar.collapsed .bottom-sidebar ul li a.active,
.sidebar.collapsed .bottom-sidebar ul li a:hover,
.sidebar.collapsed .bottom-sidebar ul li a.active svg,
.sidebar.collapsed .bottom-sidebar ul li a:hover svg,
.sidebar.collapsed .nav ul li a.active,
.sidebar.collapsed .nav ul li a:hover,
.sidebar.collapsed .nav ul li a.active svg,
.sidebar.collapsed .nav ul li a:hover svg {
    background: #FCF7FF;
    color: #484554;
}


#nav-mobile {
    display: none;
}

.nav ul li a svg {
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: light-dark(#ADA9BB, #ADA9BB);
}


.nav ul li a span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: light-dark(#334155, #FFFFFF);
    transition: opacity 0.3s;
}

.nav ul li a.active,
.nav ul li a.active span,
.nav ul li a.active svg,
.nav ul li a:hover,
.nav ul li a:hover span,
.nav ul li a:hover svg {
    background: light-dark(#FCF7FF, #8576FF);
    color: light-dark(#8576FF, #FCF7FF);
}

.nav ul li a.active span,
.nav ul li a.active,
.nav ul li a.active svg,
.nav ul li a:hover,
.nav ul li a:hover span,
.nav ul li a:hover svg {
    background: light-dark(#FCF7FF, #8576FF);
    color: light-dark(#8576FF, #FCF7FF);
}

.sidebar.collapsed .bottom-sidebar {
    width: 32px;
    height: 208px;
    display: flex;
    flex-direction: column;
    margin-top: -16px;
    gap: 16px;
}

.bottom-sidebar {
    width: 224px;
    height: 252px;
    gap: 8px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    background: transparent;
    margin-top: -30px;
}

.bottom-sidebar ul {
    list-style: none;
    padding: 0;
    background: transparent;
}

.bottom-sidebar ul li a {
    display: flex;
    align-items: center;
    transition: light-dark(transparent, #484554) 0.2s;
    padding: 8px;
    gap: 16px;
    border-radius: 2px;
    background: light-dark(transparent, #484554);
    text-decoration: none;
    width: 224px;
    height: 40px;
}


.sidebar.collapsed .bottom-sidebar ul li a {
    position: relative;
    width: 32px;
    border-radius: 100px;
}

.sidebar.collapsed .bottom-sidebar ul li svg {
    color: light-dark(#64748B, #ADA9BB);
}


.bottom-sidebar ul li a svg {
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: light-dark(#ADA9BB, #ADA9BB);
}

.bottom-sidebar ul li a span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: light-dark(#334155, #FFFFFF);
    transition: opacity 0.3s;
}


.bottom-sidebar ul li a:hover,
.bottom-sidebar ul li a:hover span,
.bottom-sidebar ul li a:hover svg {
    background: light-dark(#FCF7FF, #8576FF);
    color: light-dark(#8576FF, #FCF7FF);
}


.sidebar.collapsed .bottom-sidebar ul li a .badge {
    background-color: #F43F5E;
    width: 6px;
    height: 6px;
    display: none;
    border-radius: 50%;
    margin-left: 0px;
    margin-top: -10px;
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 1px;
    padding: 0;
    color: transparent;
}

.bottom-sidebar ul li a .badge {
    background-color: #F43F5E;
    color: #FFFFFF;
    margin-left: auto;
    width: 24px;
    height: 24px;
    padding: 4px 8px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.sidebar.collapsed .top-sidebar ul li a span,
.sidebar.collapsed .bottom-sidebar ul li a span {
    opacity: 0;
    display: none;
}


.sidebar.collapsed .top-sidebar ul li a svg,
.sidebar.collapsed .bottom-sidebar ul li a svg {
    margin-right: 0;
}

.collapse-section button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 224px;
    height: 36px;
    padding: 8px;
    gap: 8px;
    border-radius: 2px;
    margin-top: -8px;
}


.collapse-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: -16px;
}

/* Toggle button visibility */
.collapse-section button span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    transition: opacity 0.3s ease;
    color: light-dark(#334155, #FFFFFF);
}

.collapse-section button svg {
    width: 16px;
    height: 16px;
    color: light-dark(#64748B, #FFFFFF);
}

.collapse-section button:hover {
    background: light-dark(#FCF7FF, #8576FF);
    color: light-dark(#8576FF, #FCF7FF);
}

.sidebar.collapsed .collapse-section button {
    margin-top: -16px;
    width: 32px;
    border-radius: 100px;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    width: 120px;
    height: 16px;
    padding: 0px 8px 0px 8px;
    gap: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 16px;
    border-radius: 100px;
}

.switch input {
    display: none;
}

.slider {
    width: 24px;
    height: 16px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E2E8F0;
    transition: 0.4s ease;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    width: 11px;
    height: 12px;
    background-color: #FFFFFF;
    border-radius: 100px;
    left: 1.4px;
    bottom: 2.5px;
    transition: 0.4s ease;
}

input:checked+.slider {
    background-color: #8576FF;
}

input:checked+.slider:before {
    transform: translateX(10px);
}

.dark-mode-text {
    color: light-dark(#334155, #FFFFFF);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.sidebar.collapsed .dark-mode-text {
    display: none;
}

.profile {
    display: flex;
    align-items: center;
    width: 224px;
    height: 48px;
    padding: 8px;
    gap: 8px;
}

.profile .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    gap: 4px;
    height: 32px;
}

.profile .text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: light-dark(#334155, #FFFFFF);
}

.profile .text h5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: light-dark(#64748B, #FFFFFF);
}

.profile svg {
    width: 32px;
    height: 32px;
    border-radius: 1000px;
    border: 1px solid light-dark(#E2E8F0, #E2E8F0);
    color: #CBD5E1;
}

.sidebar.collapsed .profile .text {
    display: none;
}

.sidebar.collapsed .profile {
    width: 32px;
    height: 32px;
    padding: 0;
}


/* main body */

.main-content {
    flex: 1;
    padding: 30px;
    background-color: light-dark(#fff, #383544);
    overflow-y: scroll;
}

header h1 {
    width: 322px;
    height: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: light-dark(#000000, #FFFFFF);
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 16px;
}

.stat-box {
    width: 260px;
    height: auto;
    max-height: 88px;
    display: inline-block;
    padding: 16px;
    gap: 16px;
    border-radius: 2px;
    border: 1px solid light-dark(#F2F2F7, #484554);
    background: light-dark(#FFFFFF, #484554);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    cursor: pointer;
    transition: light-dark(#FFFFFF, #484554) 0.3s ease, border 0.3s ease;
}

/* Define the shake animation */
@keyframes shake {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-4px, 0);
    }

    50% {
        transform: translate(4px, 0);
    }

    75% {
        transform: translate(-4px, 0);
    }

    100% {
        transform: translate(0);
    }
}

.stat-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Enhance shadow on hover */
    transform: scale(1.02);
    /* Slightly scale up the box on hover */
    animation: shake 0.5s ease;
    /* Apply shake animation on hover */
}


.stat-box h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: light-dark(#64748B, #FFFFFF);
    margin-bottom: 10px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.stat-box p {
    color: light-dark(#334155, #FFFFFF);
    display: flex;
    margin: 0;
    gap: 4px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.info-icon {
    stroke: light-dark(#64748B, #FFFFFF);
    margin-left: 5px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    transition: stroke 0.3s ease;
    stroke-width: 2.5;
}

.info-icon:hover {
    stroke: #677d9c;
}

.arrow-icon {
    width: 16px;
    height: 16px;
    stroke-width: 2;
}

.value {
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
}

.stat-box .up {
    display: flex;
    align-items: center;
    color: #10B981;
}

.stat-box .down {
    display: flex;
    align-items: center;
    color: #F43F5E;
}

.stat-box .up i,
.stat-box .down i {
    margin-right: 5px;
}

.event-registrations {
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    gap: 10px;
}

.chart-container {
    width: 50%;
    height: 320px;
    padding: 20px;
    background: light-dark(white, #484554);
    border-radius: 8px;
    border: 1px solid light-dark(#F2F2F7, #484554);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: light-dark(#000, #FFFFFF);
    margin: 35px 0 12px 0;
}

.carousel-container {
    max-width: 50%;
    overflow: hidden;
    position: relative;
    height: 320px;
    border-radius: 8px;
}

.carousel-slide {
    display: none;
    position: relative;
    /* width: 100%;
    height: 100%; */
}

.carousel-slide.active {
    display: block;
}

.carousel-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;

    width: 100%;
    height: 115px;
    top: 205px;
    gap: 8px;

}

.carousel-content p {
    color: #FFFFFF;
    background: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    width: 478px;
    height: 48px;
}

.carousel-content h3 {
    color: #FFFFFF;
    background: transparent;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.carousel-container button {
    border: 1px solid #E2E8F0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000;
    padding: 10px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next i {
    font-size: 12px;
}

.prev i {
    font-size: 12px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4px;
    background: transparent;

    /* width: 44px;
    height: 3px; */
}

.carousel-pagination .bar {
    height: 3px;
    width: 12px;
    background-color: #FCF7FF;
    border-radius: 100px;
    transition: #145dbd 0.3s ease;
    cursor: pointer;
    opacity: 0.3px;
}

.carousel-pagination .bar.active {
    background-color: #ADA9BB;
}

.events-history h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin-top: 30px;
    color: light-dark(#000000, #FFFFFF);
}

.event-history-container {
    width: 100%;
    height: 632px;
    gap: 16px;
    margin-top: 6px;
    margin-bottom: 35px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    height: 36px;
    position: relative;
}

.controls .right,
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.search-input {
    width: 200px;
    padding: 8px 8px 8px 30px;
    border-radius: 2px;
    height: 36px;
    border: 1px solid light-dark(#E2E8F0, #484554);
    background-color: light-dark(#FFFFFF, #484554);
}

.search-input:focus {
    outline: none;

}

.search-input::placeholder {
    color: light-dark(#CBD5E1, #CBD5E1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 8px;
}

.date-filter {
    width: 88px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 2px;
    border: 1px solid light-dark(#E2E8F0, #484554);
    background-color: light-dark(#FFFFFF, #484554);
    cursor: pointer;
    color: light-dark(#334155, #FCF7FF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}


.date-filter:focus {
    background-color: light-dark(#FCF7FF, #484554);
    outline: none;
}

.date-filter:hover {
    background-color: light-dark(#FCF7FF, #484554);
}

.date-filter option {
    color: light-dark(#334155, #FCF7FF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.status-filter {
    width: 99px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid light-dark(#E2E8F0, #484554);
    background-color: light-dark(#FFFFFF, #484554);
    color: light-dark(#334155, #FCF7FF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}


.status-filter:focus {
    background-color: light-dark(#FCF7FF, #484554);
    outline: none;
}

.status-filter:hover {
    background-color: light-dark(#FCF7FF, #484554);
}

.status-filter option {
    color: light-dark(#334155, #FCF7FF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.name-filter {
    width: 95px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 2px;
    border: 1px solid light-dark(#E2E8F0, #484554);
    background-color: light-dark(#FFFFFF, #484554);
    color: light-dark(#334155, #FCF7FF);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}


.name-filter:focus {
    background-color: light-dark(#FFFFFF, #484554);
    outline: none;
}

.name-filter:hover {
    background-color: light-dark(#FCF7FF, #484554);
}

.name-filter option {
    color: light-dark(#334155, #FCF7FF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.results-count {
    color: light-dark(#334155, #FFFFFF);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.sort-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.sort-options label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: light-dark(#334155, #FCF7FF);
}

.sort-options select {
    width: 140px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 2px;
    border: 1px solid light-dark(#E2E8F0, #484554);
    background-color: light-dark(#FFFFFF, #484554);
    color: light-dark(#334155, #FCF7FF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}

.sort-options select:hover {
    background-color: light-dark(#FCF7FF, #484554);
}

.sort-options select option {
    color: light-dark(#334155, #FCF7FF);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.sort-options select:focus {
    outline: none;
}

.button-set {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 36px;
    gap: 8px;
}

.button-set i {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 2px;
    align-content: center;
    border: 1px solid light-dark(#E2E8F0, #484554);
    font-size: 10px;
    text-align: center;
    color: light-dark(#141414, #FCF7FF);
    cursor: pointer;
}

.button-set i:hover {
    background-color: light-dark(#FCF7FF, #484554);
}

.export-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    width: 100px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 2px;
    border: 1px solid light-dark(#E2E8F0, #484554);
}

.export-btn :hover {
    background-color: light-dark(#FCF7FF, #484554);
}

.export-btn svg {
    color: light-dark(#141414, #FCF7FF);
    stroke-width: 2;
    width: 14px;
    height: 14px;

}

.export-btn p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: light-dark(#334155, #FCF7FF);
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 14px;
    height: 528px;
}

#mobile-table {
    display: none;
}

.events-table th {
    width: 269px;
    height: 48px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: light-dark(#64748B, #FFFFFF);
    background-color: light-dark(#F1F5F9, #6A6676);
    padding: 0 16px;
}

.events-table td {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 0 16px;
    color: light-dark(#334155, #FFFFFF);
    background-color: light-dark(#FFFFFF, #484554);
    height: 48px;
}


.status.completed {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid light-dark(transparent, #65DDB5);
    background: light-dark(#D1FAE5, transparent);
    color: light-dark(#10B981, #65DDB5);
    padding: 4px 8px;
    gap: 8px;
    border-radius: 100px;
    width: 99px;
    height: 24px;
}

.status.completed .dot {
    width: 6px;
    height: 6px;
    background: light-dark(#10B981, #65DDB5);
    border-radius: 100px;
}

.status.in-progress {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border: 1px solid light-dark(transparent, #77B1FF);
    background: light-dark(#DBEAFE, transparent);
    color: light-dark(#3B82F6, #77B1FF);
    padding: 4px 8px;
    gap: 8px;
    border-radius: 100px;
    width: 100px;
    height: 24px;
}

.status.status.in-progress .dot {
    width: 6px;
    height: 6px;
    background: light-dark(#3B82F6, #77B1FF);
    border-radius: 100px;
}

.table-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 0px 20px 0px 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 36px;
    gap: 16px;
}

.pagination .pagination-btn {
    cursor: pointer;
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid light-dark(#E2E8F0, #484554);
    background: light-dark(#FFFFFF, #484554);
}

.pagination .pagination-btn:hover {
    border: 1px solid light-dark(#ADA9BB, #484554);
}

.pagination .pagination-btn:focus {
    background: light-dark(#E2E8F0, #484554);
}

.pagination .pagination-btn svg {
    width: 12px;
    height: 12px;
    color: light-dark(#334155, #8576FF);
}

.page-number {
    border-radius: 100px;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: light-dark(#334155, #FFFFFF);
}

.page-number.active {
    background-color: #8576FF;
    color: #FFFFFF;
}

.show-rows {
    width: 145px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.show-rows label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: light-dark(#334155, #FFFFFF);
}

.show-rows select {
    border: 1px solid light-dark(#E2E8F0, #484554);
    background-color: light-dark(#FFFFFF, #484554);
    width: 96px;
    height: 36px;
    padding: 4px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: light-dark(#334155, #FFFFFF);
}

.show-rows select:focus {
    outline: none;
}

.show-rows option {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: light-dark(#334155, #FFFFFF);
}

/* Mobile Styles */
@media (max-width: 768px) {

    /* Hide the sidebar on very small screens */
    .top-sidebar #nav-desktop,
    .bottom-sidebar {
        display: none;
    }

    .sidebar {
        width: 100%;
        height: 64px;
        border-bottom: 1px solid light-dark(#F1F5F9, #484554);
        display: block;
        border-right: transparent;
        background: light-dark(#FFFFFF, #484554);
        transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
        padding: 0 8px;
    }

    .logo {
        width: 342px;
        height: 48px;
        padding: 8px 2px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo h2 {
        width: 64px;
        height: 32px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px dashed #2563EB;
        background: #93C5FD;
        color: #2563EB;
    }

    .container {
        flex-direction: column;
    }


    .top-sidebar #nav-mobile {
        display: flex;
        justify-content: end;
    }

    .top-sidebar #nav-mobile svg {
        width: 24px;
        height: 24px;
        color: light-dark(#64748B, #FCF7FF);
    }

    /* Main Content */
    .main-content {
        padding: 16px;
        margin-left: 0;
    }

    header h1 {
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin-bottom: 8px;
    }

    /* Stats section */
    .stats {
        flex-direction: column;
        width: 100%;
    }

    .stat-box {
        width: 100%;
        height: 88px;
    }

    /* Chart and carousel layout */
    .chart {
        display: block;
    }

    .chart h2 {
        font-size: 17px;
        font-weight: 500;
        line-height: 12px;
        text-align: left;

    }

    .event-registrations {
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .chart-container {
        width: 100%;
        height: 260px;
        margin: 0 auto;
    }

    .carousel-container {
        width: 100%;
        height: 260px;
        overflow: hidden;
        position: relative;
    }

    .carousel-content {
        width: 100%;
        height: 131px;
        top: 189px;
        padding: 16px;

        box-sizing: border-box;
    }

    .carousel-slide {
        width: 100%;
        /* Full width for each slide */
        height: auto;
        display: block;
        position: relative;
    }

    .carousel-slide img {
        width: 100%;
        height: auto;
        /* height: auto; */
        object-fit: cover;
        border-radius: 8px;
    }

    .carousel-container button {
        height: 20px;
        width: 20px;
        padding: 4px;
    }

    .carousel-pagination .bar {
        width: 20px;
    }

    /* Carousel buttons */
    .prev,
    .next {
        top: 90%;
        transform: translateY(-50%);
    }

    .events-history h2 {
        font-size: 17px;
    }

    #mobile-table {
        display: block;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 14px;
        height: 528px;
    }

    #desktop-table {
        display: none;
    }


    #mobile-table th {
        width: auto;
        height: 48px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
        color: light-dark(#64748B, #FFFFFF);
        background-color: light-dark(#F1F5F9, #6A6676);
        padding: 0 16px;
    }

    #mobile-table td {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        padding: 0 8px;
        color: light-dark(#334155, #FFFFFF);
        background-color: light-dark(#FFFFFF, #484554);
        height: 48px;
        width: 100%;
    }

    #mobile-table td i {
        padding: 8px;
        font-size: 12px;
        margin-right: 16px;
    }

    .status.completed {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid light-dark(transparent, #65DDB5);
        background: light-dark(#D1FAE5, transparent);
        color: light-dark(#10B981, #65DDB5);
        padding: 4px 8px;
        gap: 8px;
        border-radius: 100px;
        width: 83px;
        height: 20px;
    }

    
.status.in-progress {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border: 1px solid light-dark(transparent, #77B1FF);
    background: light-dark(#DBEAFE, transparent);
    color: light-dark(#3B82F6, #77B1FF);
    padding: 4px 8px;
    gap: 8px;
    border-radius: 100px;
    width: 84px;
    height: 20px;
}

    /* Table pagination */
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 0;
    }

    /* Filter and Sort controls */
    .controls {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        width: 100%;
        height: 286px;
        gap: 8px;
    }

    .controls .left,
    .controls .right {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }


    .sort-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }


    /* Filters */
    .controls .left select {
        width: 100%;
    }

    /* Search input */
    .search-input {
        width: 100%;
    }

    .button-set {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .table-controls {
        margin: 30px 0;
        display: flex;
        width: 100%;
        height: 36px;
        align-items: center;
        justify-content: space-between;
    }

    .show-rows{
        width: 96px;
        gap: 0;
        /* justify-content: space-between; */
    }
    .show-rows label {
        display: none;
    }
}